<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_rebel_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_rebel_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpinPlay99"
        android:usesCleartextTraffic="false"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name="com.rebel.panel.MainActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SpinPlay99"
            android:configChanges="orientation|screenSize|keyboardHidden|density|smallestScreenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
